body {
    background-color: rgb(200, 200, 200);
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}
nav {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1px;
    width: 100%;
    
}
.ul {
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    list-style-type: none;
    justify-content: center;
}
.linav {
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 254, 254);
    padding-left: 100px;
    padding-right: 100px;
    font-size: 16px;
    
}
main {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(127, 127, 127);
    padding:10px;
    border-radius: 12px;
}
section {
    width: 80%;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(74, 74, 74);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 12px rgb(2, 2, 2);
}
footer {
    width: 100%;
    padding: 6px;
    background-color: rgba(13, 13, 13, 0.894);
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);

    bottom: 0;
}
.li {
    color: rgb(0, 0, 0);
    padding: 0 auto;
    font-size: 16px;
    
}
.div1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 0 auto;
}
.img1 {
    width: 160px;
    height: 180px;
    box-shadow: 0 5px 12px rgb(2, 2, 2);
    margin-top: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: rgb(182, 182, 182);
}
.img2 {
    width: 180px;
    height: 190px;
    box-shadow: 0 5px 12px rgb(2, 2, 2);
    margin-top: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border-radius: 10px;
}
.img3 {
    width: 230px;
    height: 160px;
    box-shadow: 0 5px 12px rgb(2, 2, 2);
    margin-top: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border-radius: 10px;
}
.titulos {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.parrafos {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: justify;
    padding: 10px;
}
.div02 {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}
.div03 {
    width: 300px;
    height: 200px;
    box-sizing: content-box;
    border-color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    display:contents;
}